#btnaddIndi {          
	-fx-shape: "M222.2357635498047,70.88762486323594 C223.80419908025215,70.88680088869933 227.4132075506277,70.87373613859472 229.17280517356994,70.87238133430856 C229.17280517356994,71.50181072912983 229.17280517356994,72.13132727510401 229.17280517356994,72.76072497859695 C230.42813038010354,71.5086085190569 231.68304359936883,70.25657921066977 232.93836880590243,69.00443105980139 C231.7085868100039,67.78475859764058 230.4788048141054,66.56507821264768 229.24861083093856,65.3453899048227 C229.2185357603521,65.92587996586826 229.18804870249733,66.50626703009675 229.15797363191086,67.08674916831023 C226.86485249651014,67.07274160118777 224.56967142476788,67.12825688559224 222.27819823844038,67.02227316082008 C222.30209350000223,64.24610487616064 228.06620737089543,62.307193756103516 230.47056506873923,63.965854498310364 C231.79757605995837,64.9128032730996 232.85514737770427,66.15329693797412 233.26013086245075,67.6846456914418 C233.37837120845506,68.53776832729 233.35447594689322,69.40994537429742 233.28237817493937,70.26634806262791 C233.0269460685886,71.66586881306921 232.08061131328577,72.85012621581973 230.98802107773372,73.71727226445455 C230.20277334433922,74.32627659816626 229.24737486913364,74.75671614239491 228.23883003631636,74.74579847978475 C225.339675629235,75.10340342867585 223.45606983853213,73.40292597873577 222.2357635498047,70.88762486323594 L222.2357635498047,70.88762486323594 z";
    -fx-background-color: black;
    -fx-background-insets: 0;
    -fx-pref-width: 20;
    -fx-pref-height: 15;
	-fx-effect: dropshadow(two-pass-box, rgba(0, 0, 0, 0.5), 5, 0.0, 0, 5 );
}
#btnaddIndi:hover{
	-fx-background-color: green;
}
#btndelIndi {          
    -fx-shape: "M294.8390195270622,138.9830322265625 C292.5379652092306,138.98394775385168 290.674591064344,140.84828102256506 290.6727600097656,143.14914642206713 C290.6727600097656,145.4510872028295 292.5379652092306,147.31514436013822 294.8390195270622,147.31636506319046 C297.1397832013099,147.31514436013822 299.0049884007749,145.4510872028295 299.0049884007749,143.1500619493563 C299.0049884007749,140.84828102256506 297.1397832013099,138.9830322265625 294.8390195270622,138.9830322265625 zM298.017032730495,143.14914642206713 C298.017032730495,143.7885913709324 297.8263705394784,144.38301562865672 297.5010822404147,144.88080089474533 L293.1079754059101,140.48772312459914 C293.6058478650739,140.16249295425223 294.2006499594572,139.97178716669805 294.8390195270622,139.9699561121197 C296.59366390722425,139.97392339703947 298.0152016759166,141.39450204190507 298.017032730495,143.14914642206713 zM291.66022158595297,143.14914642206713 C291.66022158595297,142.5107041935662 291.8514069354205,141.91630900020027 292.1766661701258,141.41739022413458 L296.56922078182106,145.8114852468243 C296.07187148110825,146.13555284283575 295.47738909466716,146.32625863038993 294.8390195270622,146.3271741576791 C293.0841716963914,146.32534310310075 291.66266299205745,144.9048952478479 291.66022158595297,143.14914642206713 z";
	 -fx-background-color: black;
    -fx-background-insets: 0;
    -fx-pref-width: 20;
    -fx-pref-height: 15;
	-fx-effect: dropshadow(two-pass-box, rgba(0, 0, 0, 0.5), 5, 0.0, 0, 5 );
}
#btndelIndi:hover{
	-fx-background-color: red;
}
#btndeltxtfields {
	-fx-shape: "M 70.9 62.4 c -3.5 -4.1 -8 -7.2 -11.6 -11.2 c -0.4 -0.4 -0.7 -0.8 -1.1 -1.2 c 3.4 -4 7 -8 10.5 -12 c 1.9 -2.1 4.2 -7.2 0.5 -9.1 c -3.9 -2 -7.6 0.7 -10.6 3.1 c -3.1 2.5 -6 5.3 -8.6 8.2 c -2.9 -3.4 -5.9 -6.7 -9.2 -9.8 c -2.4 -2.2 -8.8 -8.3 -12.4 -4.9 c -3.5 3.1 -0.7 8.1 2 10.7 c 0.3 0.3 0.7 0.4 1.1 0.3 c 4.4 3.5 8.1 7.6 11.7 11.9 c -4.6 6 -8.8 12.3 -13.4 18.1 c -0.2 0.2 -0.2 0.4 -0.2 0.7 c -1.9 1.4 -2.9 4.6 -1.2 6.4 c 3.2 3.4 7.3 1.4 10.4 -1.1 c 4.9 -3.8 8.9 -9.2 12.8 -14.3 c 3 3.3 6.1 6.4 9.7 9.1 c 2.9 2.2 7.5 5.5 11.2 3.3 C 76 68.6 72.6 64.3 70.9 62.4 Z M 44.1 39.1 c 0 -0.2 -0.1 -0.4 -0.2 -0.5 c -0.4 -0.5 -0.9 -1.1 -1.3 -1.7 c 0 0 0 -0.1 0 -0.1 c 0.8 1 1.6 2.1 2.4 3.1 C 44.7 39.7 44.4 39.4 44.1 39.1 Z M 54.4 39.7 c -0.3 0.3 -0.5 0.7 -0.8 1 c -0.3 0.2 -0.7 0.5 -1 0.7 c 0.6 -0.6 1.2 -1.3 1.8 -1.9 C 54.4 39.6 54.4 39.6 54.4 39.7 Z";
	-fx-background-color: black;
    -fx-background-insets: 0;
	-fx-effect: dropshadow(two-pass-box, rgba(0, 0, 0, 0.5), 5, 0.0, 0, 5 );
}
#btndeltxtfields:hover{
	-fx-background-color: red;
}

#btnaddtxtfields {
	-fx-shape: "M 16 0 C 7.163 0 0 7.163 0 16 s 7.163 16 16 16 c 8.837 0 16 -7.164 16 -16 S 24.837 0 16 0 Z M 16 30 C 8.268 30 2 23.732 2 16 S 8.268 2 16 2 s 14 6.268 14 14 S 23.732 30 16 30 Z M 22 15 h -5 v -5 c 0 -0.552 -0.448 -1 -1 -1 c -0.552 0 -1 0.448 -1 1 v 5 h -5 c -0.552 0 -1 0.448 -1 1 s 0.448 1 1 1 h 5 v 5 c 0 0.552 0.448 1 1 1 c 0.552 0 1 -0.448 1 -1 v -5 h 5 c 0.552 0 1 -0.448 1 -1 S 22.552 15 22 15 Z";
	-fx-background-color: black;
    -fx-background-insets: 0;
	-fx-effect: dropshadow(two-pass-box, rgba(0, 0, 0, 0.5), 5, 0.0, 0, 5 );
}
#btnaddtxtfields:hover{
	-fx-background-color: green;
}
.button{
	-fx-background-color:#CCDDFF;
}
.button:hover{
	-fx-background-color:#33B5E5;
	-fx-effect: dropshadow(two-pass-box, rgba(0, 0, 0, 0.5), 5, 0.0, 0, 5 );
}
.choice-box{
	-fx-background-color:#CCDDFF;
}
.choice-box:hover{
	-fx-background-color:#33B5E5;
}

.combo-box{
	-fx-background-color:#CCDDFF;
}
.combo-box:hover{
	-fx-background-color:#33B5E5;

}
